@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.md-editor {
    height: 100%;
}

.md-editor-content {
    height: 100%;
}

.md-editor-content-editor {
    height: 100%;
}

.cm-theme {
    height: 100%;
}

.cm-editor {
    height: 100%;
}